.vs/

DeWaste.Windows/bin/
DeWaste.Windows/obj/

DeWaste.Wasm/bin/
DeWaste.Wasm/obj/

DeWaste.Mobile/bin/
DeWaste.Mobile/obj/

DeWaste.Skia.Gtk/bin/
DeWaste.Skia.Gtk/obj/

DeWaste.Skia.WPF/bin/
DeWaste.Skia.WPF/obj/

DeWaste.Skia.Linux.FrameBuffer/bin/
DeWaste.Skia.Linux.FrameBuffer/obj/

DeWaste.Server/

Testing/obj/
Testing/bin/

DeWasteApi/bin/
DeWasteApi/obj/